<!DOCTYPE html>
<html>

<head>
    <title>Calculator - History</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/history.css">
</head>

<body>
    <table>
        <tr class="header">
            <th>Series No</th>
            <th>Number 1</th>
            <th>Number 2</th>
            <th>Operation Type</th>
            <th>Result</th>
        </tr>
        {% for i, row in history %}
        <tr>
            <td>{{i + 1}}</td>
            <td>{{row["num1"]}}</td>
            <td>{{row["num2"]}}</td>
            <td>{{row["type"]}}</td>
            <td>{{row["result"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="/static/js/index.js"></script>
</body>

</html>